# 라이브러리 import 및 설정

In [3]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
from matplotlib import pyplot as plt
from matplotlib import rcParams
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import numpy as np
from pathlib import Path
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
import seaborn as sns
import warnings

In [5]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

# 사용할 데이터 로드

In [6]:
import pandas as pd

In [7]:
trn_file=pd.read_csv('train.csv')
tst_file=pd.read_csv('test_x.csv')
sample_file=pd.read_csv('sample_submission.csv')

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [8]:
algo_name = 'lr'
feature_name = 'tfidf'
model_name = f'{algo_name}_{feature_name}'

feature_file = f'{feature_name}.csv'
p_val_file = f'{model_name}.val.csv'
p_tst_file = f'{model_name}.tst.csv'
sub_file = f'{model_name}.csv'

In [13]:
trn_file.head()

   index                                               text  author
0      0  He was almost choking. There was so much, so m...       3
1      1             “Your sister asked for it, I suppose?”       2
2      2   She was engaged one day as she walked, in per...       1
3      3  The captain was in the porch, keeping himself ...       4
4      4  “Have mercy, gentlemen!” odin flung up his han...       3

In [16]:
print(trn_file.shape)

(54879, 3)

In [10]:
tst_file.head()

   index                                               text
0      0  “Not at all. I think she is one of the most ch...
1      1  "No," replied he, with sudden consciousness, "...
2      2  As the lady had stated her intention of scream...
3      3  “And then suddenly in the silence I heard a so...
4      4  His conviction remained unchanged. So far as I...

In [17]:
print(tst_file.shape)

(19617, 2)

# NLTK 예시

In [18]:
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
from nltk.stem.snowball import SnowballStemmer

In [39]:
s = trn_file.text[4] #파일5번째 text s 정의
print(s)

“Have mercy, gentlemen!” odin flung up his hands. “Don’t write that, anyway; have some shame. Here I’ve torn my heart asunder before you, and you seize the opportunity and are fingering the wounds in both halves.... Oh, my God!”

In [20]:
tokens = word_tokenize(s) #저장한 문장에 대한 단어 토큰화 실시 
print(tokens)

['“', 'Have', 'mercy', ',', 'gentlemen', '!', '”', 'odin', 'flung', 'up', 'his', 'hands', '.', '“', 'Don', '’', 't', 'write', 'that', ',', 'anyway', ';', 'have', 'some', 'shame', '.', 'Here', 'I', '’', 've', 'torn', 'my', 'heart', 'asunder', 'before', 'you', ',', 'and', 'you', 'seize', 'the', 'opportunity', 'and', 'are', 'fingering', 'the', 'wounds', 'in', 'both', 'halves', '....', 'Oh', ',', 'my', 'God', '!', '”']

In [21]:
lemmatizer = WordNetLemmatizer() #단어 기본형 변환 위해 wordnetlemmatizer실시 
[lemmatizer.lemmatize(t) for t in tokens]

['“',
 'Have',
 'mercy',
 ',',
 'gentleman',
 '!',
 '”',
 'odin',
 'flung',
 'up',
 'his',
 'hand',
 '.',
 '“',
 'Don',
 '’',
 't',
 'write',
 'that',
 ',',
 'anyway',
 ';',
 'have',
 'some',
 'shame',
 '.',
 'Here',
 'I',
 '’',
 've',
 'torn',
 'my',
 'heart',
 'asunder',
 'before',
 'you',
 ',',
 'and',
 'you',
 'seize',
 'the',
 'opportunity',
 'and',
 'are',
 'fingering',
 'the',
 'wound',
 'in',
 'both',
 'half',
 '....',
 'Oh',
 ',',
 'my',
 'God',
 '!',
 '”']

In [38]:
stemmer = SnowballStemmer("english") #어근 추출 
[stemmer.stem(t) for t in tokens]

['“',
 'have',
 'merci',
 ',',
 'gentlemen',
 '!',
 '”',
 'odin',
 'flung',
 'up',
 'his',
 'hand',
 '.',
 '“',
 'don',
 '’',
 't',
 'write',
 'that',
 ',',
 'anyway',
 ';',
 'have',
 'some',
 'shame',
 '.',
 'here',
 'i',
 '’',
 've',
 'torn',
 'my',
 'heart',
 'asund',
 'befor',
 'you',
 ',',
 'and',
 'you',
 'seiz',
 'the',
 'opportun',
 'and',
 'are',
 'finger',
 'the',
 'wound',
 'in',
 'both',
 'halv',
 '....',
 'oh',
 ',',
 'my',
 'god',
 '!',
 '”']

# Bag-of-Words 피처 생성

CountVectorizer실시

In [24]:
vec = CountVectorizer(tokenizer=word_tokenize, stop_words=stopwords.words('english'), ngram_range=(1, 2), min_df=100)
X_cnt = vec.fit_transform(trn_file['text'])
print(X_cnt.shape)

(54879, 2685)

In [40]:
X_cnt[0, :50].todense() #행렬로 반환

matrix([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

TfidfVectorizer실시

In [26]:
vec = TfidfVectorizer(tokenizer=word_tokenize, stop_words=stopwords.words('english'), ngram_range=(1, 3), min_df=50)
X = vec.fit_transform(trn_file['text'])
X_tst = vec.transform(tst_file['text'])
print(X.shape, X_tst.shape)

(54879, 5897) (19617, 5897)

In [27]:
X[0, :50].todense()

matrix([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0.]])

# 로지스틱회귀 모델 학습

In [28]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [29]:
y = trn_file.author.values
y.shape

(54879,)

In [30]:
p = np.zeros((X.shape[0], n_class))
p_tst = np.zeros((X_tst.shape[0], n_class)) 
for i_cv, (i_trn, i_val) in enumerate(cv.split(X, y), 1):
    clf = LogisticRegression()
    clf.fit(X[i_trn], y[i_trn])
    p[i_val, :] = clf.predict_proba(X[i_val])
    p_tst += clf.predict_proba(X_tst) / n_class

In [41]:
print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p, axis=1)) * 100:8.4f}%')#학습한 것의 예측 정확도
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p):8.4f}') # 예측값과 실제값의 차이 확인

Accuracy (CV):  76.6140%
Log Loss (CV):   0.6800

In [32]:
np.savetxt(p_val_file, p, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

# 제출 파일 생성

In [33]:
sample_file = './sample_submission.csv'

In [34]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [36]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0631  0.5302  0.3155  0.0659  0.0253
1      0.0815  0.8202  0.0032  0.0269  0.0682
2      0.7208  0.0319  0.1174  0.0381  0.0918
3      0.0392  0.0036  0.8465  0.0058  0.1049
4      0.3044  0.2440  0.1450  0.1905  0.1161

In [37]:
sub.to_csv(sub_file)